/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    line-height: 1.6;
    background-color: whitesmoke;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #242323;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header .logo .tagline {
    margin: 0;
    font-size: 1em;
    color: #ccc;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 100px 20px;
    margin-top: 60px;
}

#about {
    background: url(./assets/background.png)no-repeat center center/cover;
    position: relative;
    text-align: left;
    color: white;
    padding: 200px 400px 450px 10px;
}

#about .about-content {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
}

#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}

#about .about-text {
    flex: 1;
    text-align: left;
}

#skills {
    background-color: rgb(233, 230, 230);
    text-align: center;
}

#skills .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: white;
    border: 2px solid #333;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

#projects {
    background-color: white;
    text-align: center;
}

#projects .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background-color: rgb(238, 237, 237);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.project img {
    width: 100%;
    border-radius: 10px;
}

#resume {
    background-color: white;
    text-align: center;
}

#resume a {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#contact {
    background-color: white;
    text-align: center;
}

footer {
    background-color: #242323;
    color: white;
    text-align: center;
    padding: 20px 0;
}
